.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.section {
  margin-top: 24px;
  margin-bottom: 24px;
} 